In [1]:
import pandas as pd

In [6]:
bigfoot_df = pd.read_csv("bfro_reports_geocoded.csv")
bigfoot_df

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,I was canoeing on the Sipsey river in Alabama....,NaN,Winston County,Alabama,Summer,NaN,NaN,NaN,NaN,30680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45,-71.5,1974-09-20,6496.0,...,0.16,0.0,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92
3,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,It was May 1984. Two friends and I were up in ...,"Logging roads north west of Yamhill, OR, about...",Yamhill County,Oregon,Spring,NaN,NaN,NaN,NaN,703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5016,while camping protecting other equipment befor...,(withheld),Rio Arriba County,New Mexico,Summer,NaN,NaN,NaN,NaN,11992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5017,I was on my way to work on a Saturday morning ...,"Laurel, Maryland. It was sighted off of Rt 19...",Prince George's County,Maryland,Spring,NaN,NaN,NaN,NaN,1171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5018,On the twenty sixth and again on the twenty se...,"head n.on highway 441 from Orlando,then go eas...",Lake County,Florida,Summer,NaN,NaN,NaN,NaN,30267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5019,I was hunting on me and my neighbor's property...,It was on my neighbor's property in the woods ...,White County,Illinois,Fall,NaN,NaN,NaN,NaN,59058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5020,I was riding with a friend in the summer of 19...,This happened on the Mississippi River Road in...,Calhoun County,Illinois,Summer,NaN,NaN,NaN,NaN,39827.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bigfoot_df.columns

Index(['observed', 'location_details', 'county', 'state', 'season', 'title',
       'latitude', 'longitude', 'date', 'number', 'classification', 'geohash',
       'temperature_high', 'temperature_mid', 'temperature_low', 'dew_point',
       'humidity', 'cloud_cover', 'moon_phase', 'precip_intensity',
       'precip_probability', 'precip_type', 'pressure', 'summary', 'uv_index',
       'visibility', 'wind_bearing', 'wind_speed'],
      dtype='object')

In [8]:
simplified_df = bigfoot_df[['observed','county','state','latitude', 'longitude','date',]]
simplified_df

,observed,county,state,latitude,longitude,date
0,I was canoeing on the Sipsey river in Alabama....,Winston County,Alabama,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...",Washington County,Rhode Island,41.45,-71.5,1974-09-20
3,"Hello, My name is Doug and though I am very re...",York County,Pennsylvania,NaN,NaN,NaN
4,It was May 1984. Two friends and I were up in ...,Yamhill County,Oregon,NaN,NaN,NaN
...,...,...,...,...,...,...
5016,while camping protecting other equipment befor...,Rio Arriba County,New Mexico,NaN,NaN,NaN
5017,I was on my way to work on a Saturday morning ...,Prince George's County,Maryland,NaN,NaN,NaN
5018,On the twenty sixth and again on the twenty se...,Lake County,Florida,NaN,NaN,NaN
5019,I was hunting on me and my neighbor's property...,White County,Illinois,NaN,NaN,NaN
5020,I was riding with a friend in the summer of 19...,Calhoun County,Illinois,NaN,NaN,NaN

In [9]:
simplified_df.dropna(how='any', axis=0, inplace=True)
simplified_df

C:\Users\nalle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,observed,county,state,latitude,longitude,date
2,"While attending U.R.I in the Fall of 1974,I wo...",Washington County,Rhode Island,41.45000,-71.50000,1974-09-20
5,My two children and I were returning from Altu...,Washita County,Oklahoma,35.30110,-99.17020,1973-09-28
6,I was staying the night with a friends of mine...,Washington County,Ohio,39.38745,-81.67339,1971-08-01
7,Well last year I was night fishing 9/2010 at A...,Westchester County,New York,41.29873,-73.73717,2010-09-01
8,I grew up in Northwestern Nevada along the Cal...,Washoe County,Nevada,39.59200,-119.97500,1970-09-01
...,...,...,...,...,...,...
5010,In October 2008 we went on a 4 wheeler trip to...,Harlan County,Kentucky,36.89771,-83.16293,2008-10-15
5011,Went to get trail cams and see dark black figu...,Harlan County,Kentucky,36.83193,-83.42429,2013-01-10
5012,The appearance of the thing was just as I have...,Anderson County,Kentucky,37.95708,-84.97527,2005-01-09
5013,"OK, let me start by saying I have always been ...",Anderson County,Kentucky,37.97699,-84.90234,2011-11-15
5015,My late Grandparents owned a home outside of S...,Allen County,Kentucky,36.77200,-86.14250,2002-04-15

In [23]:
simplified_df.to_csv('cleaned_bigfoot.csv')

In [24]:
no_observed_df = simplified_df.drop(['observed'], axis=1, inplace=False)
no_observed_df

                  county         state  latitude  longitude        date
2      Washington County  Rhode Island  41.45000  -71.50000  1974-09-20
5         Washita County      Oklahoma  35.30110  -99.17020  1973-09-28
6      Washington County          Ohio  39.38745  -81.67339  1971-08-01
7     Westchester County      New York  41.29873  -73.73717  2010-09-01
8          Washoe County        Nevada  39.59200 -119.97500  1970-09-01
...                  ...           ...       ...        ...         ...
5010       Harlan County      Kentucky  36.89771  -83.16293  2008-10-15
5011       Harlan County      Kentucky  36.83193  -83.42429  2013-01-10
5012     Anderson County      Kentucky  37.95708  -84.97527  2005-01-09
5013     Anderson County      Kentucky  37.97699  -84.90234  2011-11-15
5015        Allen County      Kentucky  36.77200  -86.14250  2002-04-15

[4012 rows x 5 columns]

In [27]:
no_observed_df.to_csv('cleaned_without_observed_column.csv')